body {
  font-family: 'Press Start 2P';
  background-color: #ccc;
}

#root {
  max-width: 40rem;
  margin: 1rem auto;
  background-color: white;
}

.mt1 {
  margin-top: 1rem;
}

.mb1 {
  margin-bottom: 1rem;
}
