<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Learn the Land (learnthe.land)</title>
        <link href="https://rwell.org/img/favicon.png" rel="icon" />
    </head>
    <body style="height: 100%;">
        <div id="root"></div>
    </body>
</html>
